*{
    margin: 0%;
    padding: 0%;
}
.navigation{
    display: none;
}
.innerside{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}
.innerside a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.innerside a:hover{
    color: #f1f1f1;
  }
  .innerside .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  @media  (max-width:750px) {
      .navigation{
        width: 100%;
          height: 150px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
      }
  }
@media (max-width:1024px) {
    .navigation{
        width: 100%;
        height: 225px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: grid;
        align-content: center;
    }
    .navigation h1{
        font-size: 30px;
        font-weight: 400px;
        padding-left: 40px;
        font-family: 'Merriweather', serif;
        color: white;
    }
    .navigation a h1 {
        list-style-type: none;
        text-decoration: none;
    }
    .navigation p{
        color:rgba(255,255,255,.7);
        font-size: 20px;
        margin-top: 15px;
        opacity: 0.7;
        padding-left: 40px;
    }
    .side{
        color: white;
        cursor: pointer;
         font-size: 30px;
         padding-left: 40px;
    }
    .overlay1{
        position:absolute;
        width: 100%;
        height: 225px;
        top:0;
        left:0;
        bottom:0;
        z-index: -1;
        right:0;
        background:rgba(22,27,33,.8);
        background:linear-gradient(to bottom,rgba(22,27,33,.8) 0,rgba(22,27,33,.8) 1%,rgba(22,27,33,.8) 70%,rgba(22,27,33,.8) 100%)
    }
} 
.side-nav{
    width: 30%;
    height: 100%;
    background-repeat:repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
}
@media only screen and (max-width:1024px) {
    .side-nav{
        display: none;
        width: 0%;
        transition-timing-function: ease-in;
    }
}
.main{
    margin-left: 30%;
    height: auto;
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
    overflow: auto;
}
@media only screen and (max-width:1024px){
    .main{
        margin-left: 0%;
    }
}
@media only screen and (max-width:750px){
    .main{
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 100;
    } 
    .inner h1 a,.inner3 h1 a,.inner5 h1 a,.inner7 h1 a,.inner9 h1 a,.inner11 h1 a{
        font-size: 22px;
    }  
}
.overlay{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(22,27,33,.7);
    z-index: -1;
}
@media only screen and (min-width:1024px){
    .overlay{background:-moz-linear-gradient(top,rgba(22,27,33,0) 0,rgba(22,27,33,.01) 1%,rgba(22,27,33,.7) 70%,rgba(22,27,33,.7) 100%);
        background:-webkit-linear-gradient(top,rgba(22,27,33,0) 0,rgba(22,27,33,.01) 1%,rgba(22,27,33,.7) 70%,rgba(22,27,33,.7) 100%);
        background:linear-gradient(to bottom,rgba(22,27,33,0) 0,rgba(22,27,33,.01) 1%,rgba(22,27,33,.7) 70%,rgba(22,27,33,.7) 100%)
    }
}

.list{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 70%;
}
.list h1{
    font-size: 35px;
    font-weight: 400px;
    font-family: 'Merriweather', serif;
    z-index: 1;

}
.list p{
    color:rgba(255,255,255,.7);
    font-size: 20px;
    margin-top: 15px;
    opacity: 0.7;
}
.list a h1{
    list-style-type: none;
    
    color: white;
}
.list a{
    text-decoration: none;
}
.list  ol  li {
 
    list-style-type: none;
    margin-top: 15px;
}
.list  ol a{
    color: rgba(255,255,255,.7);
    margin-top: 25px;
    font-size: 20px;
    text-decoration: none;
}
.list  ol a li:hover{
    color: white;
}
.inner,.inner2,.inner3,.inner4,.inner5,.inner6,.inner7,.inner8,.inner9,.inner10,.inner11,.inner12{
    font-family: 'Merriweather', serif;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 50px;
    overflow: auto;
}
@media  (max-width:1200px) {
    .inner,.inner2,.inner3,.inner4,.inner5,.inner6,.inner7,.inner8,.inner9,.inner10,.inner11,.inner12{
        margin-left: 20px;
        margin-right: 20px;
        font-family: 'Merriweather', serif;
    }
}
.inner h1 a,.inner3 h1 a,.inner5 h1 a,.inner7 h1 a,.inner9 h1 a,.inner11 h1 a{
    overflow: hidden;
    text-decoration: none;
    color: black;
    font-size: 44px;
    font-weight: 400;
    letter-spacing: -1px;
}
.inner h1 a:hover,.inner3 h1 a:hover,.inner2 h1 a:hover,.inner2 h1 a:hover,.inner2 h1 a:hover{
    color:rgb(2, 216, 195);
}
.inner2 h1 a:hover{
    color:rgb(2, 216, 195);
}
.inner3 h1 a:hover{
    color:rgb(2, 216, 195);
}
.inner4 h1 a:hover{
    color:rgb(2, 216, 195);
}
.inner5 h1 a:hover{
    color:rgb(2, 216, 195);
}
.inner5 h1 a:hover{
    color:rgb(2, 216, 195);
}
.inner6 h1 a:hover{
    color:rgb(2, 216, 195);
}
.inner7 h1 a:hover{
    color:rgb(2, 216, 195);
}
.inner8 h1 a:hover{
    color:rgb(2, 216, 195);
}
.inner9 h1 a:hover{
    color:rgb(2, 216, 195);
}
.inner10 h1 a:hover{
    color:rgb(2, 216, 195);
}
.inner11 h1 a:hover{
    color:rgb(2, 216, 195);
}
.inner12 h1 a:hover{
    color:rgb(2, 216, 195);
}
.inner p,.inner3 p,.inner5 p,.inner7 p,.inner9 p,.inner11 p{
    opacity: 0.3;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
}
@media(max-width:1200px){
    .inner h1 a,.inner3 h1 a,.inner5 h1 a,.inner7 h1 a,.inner9 h1 a,.inner11 h1 a{
        font-size: 35px;
    }
}
.image,.image2,.image3,.image4,.image5,.image6{
    margin-top:40px;
    display:block;
    width:100%;
    height:0;
    padding-bottom:56.25%;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.inner2 p,.inner4 p,.inner6 p,.inner8 p,.inner10 p,.inner12 p{
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    opacity: 0.7;
    line-height: 30px;
    position: relative;
}
.inner2 button,.inner4 button,.inner6 button,.inner8 button,.inner10 button,.inner12 button{
    margin-top: 20px;
    color: white;
    background-color:rgb(2, 216, 195) ;
    border: none;
    width: 120px;
    height: 40px;
}
.layout1,.layout2,.layout3,.layout4,.layout5,.layout6{
    margin-top: 50px;
    position: relative;
}
.lbutton{
    width: 480px;
    height: 50px;
    color: white;
    text-align: center;
    background-color:rgb(2, 216, 195) ;
    border: none;
    margin-top: 30px;
    float: right;
}
.list i{
    color: black;
}
.icons{
   margin-top: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}
.icons a{
    color: white;
    margin-left: 15px;
    font-size: 30px;
}
.icons a i{
    font-size: 30px;
}
.fa-linkedin-square{
margin-left: 0%;
}
