.side-nav{
    width: 30%;
    height: 100%;
    background-repeat:repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
}
@media only screen and (max-width:1024px) {
    .side-nav{
        display: none;
        width: 0%;
        transition-timing-function: ease-in;
    }
}
.overlay{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(22,27,33,.7);
    z-index: -1;
}
@media only screen and (min-width:1024px){
    .overlay{background:-moz-linear-gradient(top,rgba(22,27,33,0) 0,rgba(22,27,33,.01) 1%,rgba(22,27,33,.7) 70%,rgba(22,27,33,.7) 100%);
        background:-webkit-linear-gradient(top,rgba(22,27,33,0) 0,rgba(22,27,33,.01) 1%,rgba(22,27,33,.7) 70%,rgba(22,27,33,.7) 100%);
        background:linear-gradient(to bottom,rgba(22,27,33,0) 0,rgba(22,27,33,.01) 1%,rgba(22,27,33,.7) 70%,rgba(22,27,33,.7) 100%)
    }
}
.list p{
    color:rgba(255,255,255,.7);
    font-size: 20px;
    margin-top: 15px;
    opacity: 0.7;
}
.list  ol li {
 
    list-style-type: none;
    margin-top: 15px;
}
.list  ol a{
    color: rgba(255,255,255,.7);
    margin-top: 25px;
    font-size: 20px;
    text-decoration: none;
}
.list  ol li:hover{
    color: white;
}
.list{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 70%;
}
.list h1{
    font-size: 35px;
    font-weight: 400px;
    font-family: 'Merriweather', serif;
    z-index: 1;

}
*{
    margin: 0%;
    padding: 0%;
}
.icons{
    margin-top: 30px;
     width: 70%;
     margin-left: auto;
     margin-right: auto;
     font-size: 30px;
 }
 .icons a{
     color: white;
     margin-left: 15px;
     font-size: 30px;
 }
 .icons a i{
     font-size: 30px;
 }
 .fa-linkedin-square{
 margin-left: 0%;
 }